@{
    ViewData["Title"] = "Businesses";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


/*@foreach (var business in Model.Businesses)
{
    <li>@Html.DisplayFor(businessItem => bussiness)</li>
}*/
