@{
    ViewData["Title"] = "Resources";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-sm-6">
        <h3>Useful Organizations & Websites</h3>
        <ul>
                <li><a href="https://www.columbus.gov/development/economic-development/Small-Business/">Columbus office of economic development</a></li>
        </ul>
    </div>
    <div class="col-sm-6">
        <h3>Loans & Financial</h3>
        <ul>
            <li>Working Capital Loan Fund : A low-interest loan up to $100,000 for the acquisition of real estate and/or large equipment. </li>
        </ul>
    </div>
</div>
